<div class="all-wrapper">
    <div class="left-container">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <h3><%= @user.name %></h3>
        <%= link_to("ユーザー情報編集","/users/#{@user.id}/edit") %>
        #フォロータグ
    </div>
    <div class="main-container">
        投稿一覧
        #いいねした一覧
        #コメントした一覧
        <div class="post-index">
          <% @user.posts.each do |post| %>
            <div class = "user-posted">
              <%= link_to(post.title,"/posts/#{post.id}") %>
              <%= post.created_at %>
              <i class="fa fa-thumbs-o-up"></i><%= @likes_count = Like.where(post_id: post.id).count %>
            </div>
          <% end %>

        </div>
    </div>
    
    
</div>
