<div class="left-container">
    #いいねする
</div>

####################

<div class="main-container">
    <div class="article">
        <div class="post-user">
　    　　<img src ="<%= "/user_images/#{@user.image_name}"  %>">
        　<%= link_to(@user.name,"/users/#{@user.id}") %>
        　<%= @post.created_at %>
        　<%= @post.updated_at %>
        　<%= link_to("編集","/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>

        　#いいね数
    　  </div>
    　  <div class="post-content">
        　<p> <%= @post.title %> </p>
        　#タグ
        　<p> <%= @post.content %> </p>
    　  </div>
    </div>
    <div class="comments">
        #each文
        #アイコン
        #ユーザー名
        #create_at
        #本文
    </div>
    
####################


</div>