<div class="all-wrapper">
    
 <div class="left-container">
    <i class="fa fa-thumbs-o-up"></i>
    <%= @likes_count %>
    
    <% if @current_user %>
      <% if Like.find_by(user_id:@current_user.id,post_id:@post.id) %>
        <%= link_to("いいねを取り消す","/likes/#{@post.id}/destroy",{method:"post"}) %>
      <% else %>
        <%= link_to("いいねする","/likes/#{@post.id}/create",{method:"post"}) %>
      <% end %>
    <% end %>
    
 </div>


 <div class="main-container">
    <div class="article">
        <div class="post-user">
            <div class="post-user-left">
　    　　     <img src ="<%= "/assets/user_images/#{@user.image_name}"  %>">
        　      <span><%= link_to(@user.name,"/users/#{@user.id}") %></span>
        　  </div>
        　  <div class="post-user-right">
        　     記事作成:<%= @post.created_at %><br>
        　     最終更新:<%= @post.updated_at %><br>
        　     <%= link_to("編集","/posts/#{@post.id}/edit") %>
              <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
            </div>

    　  </div>
    　  <div class="post-content">
    　      
        　<h3> タイトル：<%= @post.title %> </h3>
        　
        　<% if @post.post_image %>
        　<div class="post-image">
        　    <image src="<%= "/assets/post_images/#{@post.post_image}" %>"></image>
        　</div>
        　<% end %>
        　 
        　<p> <%= simple_format(@post.content) %> </p><br>
    　  </div>
    </div>
    <div class="comments">
        #each文
        #アイコン
        #ユーザー名
        #create_at
        #本文
    </div>
    


 </div>

</div>