<!DOCTYPE html>
<html>
  <head>
    <title>MediaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <div class="header-left">
     <h1>Tech Note</h1>
     <textarea>検索</textarea>#検索機能
    </div>
    
    #if ログインしてたら
     <div class="header-right">
       # いいねした一覧
       # 投稿する<%= link_to("投稿する","/posts/new")%>
       # アイコン
       # プルダウン（マイページ、ログアウト）
     </div>
    
    #else
      <div class="logout-header-right">
        #ユーザー登録
        #ログイン
      </div>
    
    #end
  </header>

  <body>
    <%= yield %>
  </body>
</html>
